<div class="movie-show">
  <h2>{{model.title}}</h2>

  {{#if model.originalTitle}}
    <p>Original title: {{model.originalTitle}}</p>
  {{/if}}

  <p>Synopsis: {{model.synopsis}}</p>
</div>

<p>{{link-to 'All movies' 'movies'}}</p>
